.containerProducts {
    background-color: #DEDEDE;
}


.containerProducts p {
    margin-left: 15%;
    padding:2%;
    color: #111111;
}


.containerAsides{
    display: flex;
}


.asideImg {
    width: 50%;
    background-color: #DEDEDE;
    text-align: center;
}


.asideImg img {
    width: 381px;
    height: 579px;
}


.asideInfo {
   width: 50%;
   background-color: darkgreen;
}


/* .vinhoLocal {
    display: flex;
    align-items: baseline;

} */
.vinhoLocal svg {
    color: #555;
 
}

.vinho {
    color: #C81A78;
}


.region {
    color: #555;
}







