* {
    margin: 0;
    padding: 0;
}

 
.containerAsideSection {
    border: 2px ;
    height:auto;
    overflow:hidden;
    background-color: #DEDEDE;
    margin: auto;
}


.refinaBusca {
    width: 400px;
    background-color: bisque;
    padding: 1%;
}


.containerProducts {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    float: right;
}


.cardProduct {
    width: 30%;
    margin: 1%;
    padding: 0.5%;
    text-align: center;
}


.cardInfoProduct {
    height: 75%;
    padding: 7%;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgb(178, 187, 184);
}


.containerPrice {
    display:flex;
    align-items: center;
    margin: 5%;
}


.price {
    text-decoration: line-through;
    margin-left: 20%;
    color: #C0C0C0;
    font-size: 15px;
    font-weight: bold;
}


.discount {
    color: #FFFFFF;
    background-color: #F79552;
    border-radius: 4px;
    padding: 1.5%;
    font-size: 12px;
    margin-left: 5%;
}



.containerSocioWine {
    display:flex;
    align-items: baseline;
    margin: 5%;
}


.SocioWine {
    font-size: 12px;
    margin-left: 10%;
}


.real {
    margin-left: 2%;
    font-size: 12px;
    color:#B6116E;
    font-weight: bold;
}


.intPriceMember {
    color:#B6116E;
    font-weight: bold;
}


.decimalPriceMember {
    font-size: 12px;
    color:#B6116E;
    font-weight: bold;
}


.containerNoSocio {
    margin-bottom: 2.5%;
    font-size: 12px;
    font-weight: bold;
    color: #C0C0C0;
}


/* .blackWine {
    width: 56px;
    height: 56px;
    background-color:#F79552;
    border-radius: 300px;
    font-size:10px;
    font-weight: bold;
    display : flex;
    align-items : center;
} */

.btnAdd {
    margin-top: 7%;
}


.btnAdd button {
    width: 100%;
    padding: 3%;
    background-color: #7EBC43;
    border: #7EBC43;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    font-size: 100%;
    
}


.formatImage {
    Height:178.13px;
}