* {
    margin: 0;
    padding: 0;
}



.containerAsideSection {
    display: flex;
    border: 2px ;
    height:auto;
    overflow:hidden;
    background-color: #DEDEDE;
    margin: auto;
}


.containerAsideRigth {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1%;
    align-items: center;
}


.containerAsideRigth div {
   width: 50%;
}


.containerAsideRigth p {
    padding-left: 8%;
    margin-top: 5.5%;
    margin-bottom: 5%;
    width: 50%;
    color: #333333;
    font-weight: bold;
}


.containerAsideRigth div div {
    padding: 2%;
    margin: 8%;
    width: 80%;
}


.containerAsideRigth div div label{
    padding-left: 7%;
    color: #1D1D1B;    
}


.containerProducts {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    float: right;
}


.secaoProduts {
    display: flex;
    flex-direction: column;
    width: 70%;
}


.secaoProduts  p {
   padding: 2% 0% 0% 1.6%;
   margin: 2% 0% 2% 0%;
   color: #1D1D1B;  
}


.qtdProducts {
    color: #1D1D1B;
    font-weight: bold;
}


.cardProduct {
    width: 30%;
    margin: 1%;
    padding: 0.5%;
    text-align: center;
}


.cardInfoProduct {
    height: 75%;
    padding: 7%;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgb(178, 187, 184);
}


.containerPrice {
    display:flex;
    align-items: center;
    margin: 5%;
}


.price {
    text-decoration: line-through;
    margin-left: 20%;
    color: #C0C0C0;
    font-size: 15px;
    font-weight: bold;
}


.discount {
    color: #FFFFFF;
    background-color: #F79552;
    border-radius: 4px;
    padding: 1.5%;
    font-size: 12px;
    margin-left: 5%;
}



.containerSocioWine {
    display:flex;
    align-items: baseline;
    margin: 5%;
}


.SocioWine {
    font-size: 12px;
    margin-left: 10%;
}


.real {
    margin-left: 2%;
    font-size: 12px;
    color:#B6116E;
    font-weight: bold;
}


.intPriceMember {
    color:#B6116E;
    font-weight: bold;
}


.decimalPriceMember {
    font-size: 12px;
    color:#B6116E;
    font-weight: bold;
}


.containerNoSocio {
    margin-bottom: 2.5%;
    font-size: 12px;
    font-weight: bold;
    color: #C0C0C0;
}


/* .blackWine {
    width: 56px;
    height: 56px;
    background-color:#F79552;
    border-radius: 300px;
    font-size:10px;
    font-weight: bold;
    display : flex;
    align-items : center;
} */


.containerImgsVinhoLogo {
    position: relative;
    width: 100%;

}


.containerImgsVinhoLogo img {
    Height:178.13px;
}


.containerImgLogWine {
    position: absolute;
    margin-top: -25%;
    margin-left: 80%;
}


.containerImgLogWine img {
    width: 40px;
    height: 40px;
}

.btnAdd {
    margin-top: 7%;
}


.btnAdd button {
    width: 100%;
    padding: 3%;
    background-color: #7EBC43;
    border: #7EBC43;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    font-size: 100%;
    
}


